.chatBot {
    max-width: 95%;
    padding: 0px 20px;
    border-radius: 10px 10px 10px 0;
    color: #FFFFFF;
    background-color: #48C6ED;
    margin-left: 10px;
    margin-right: auto;
    position: relative;
}

.chatBot::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0px 0;
    border-color: transparent #48C6ED transparent transparent;
    position: absolute;
    left: -10px;
    bottom: 0px;
}

.chatUser {
    max-width: 95%;
    padding: 0px 20px;
    border-radius: 10px 10px 0 10px;
    background-color: #F8F8F8;
    margin-left: auto;
    margin-right: 10px;
    position: relative;
}

.chatUser::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 10px;
    border-color: transparent transparent transparent #F8F8F8;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

.colorBot {
    color: #FFFFFF;
    border-color: #FFFFFF
}

.alignItem {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}

p {
    margin: 15px 0px;
}